@charset "utf-8";
.container {
    display: flex;
}
.container div{
    border: 1px black
 solid;
    padding: 10px;

}
.index-box-1 {
    background-color: #ccc;
    color: chocolate;
    flex: 2;
    order: 2;
}
.index-box-2 {
    flex: 1;
    order: 1;
}
.index-box-3 {
    flex: 2;
    order: 4;
}
.index-box-4 {
    flex: 1;
    order: 3;
}