@charset "utf-8";
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap: 1em;
    justify-content: space-between;
    
}
p {
    background-color: grey;
    color: white;
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
}